Description=Starts minifed

[Service]
WorkingDirectory=/home/ubuntu/deploy
Type=forking
ExecStart=/home/ubuntu/deploy/run.sh

[Install]
WantedBy=multi-user.target
