[Unit]
Description=Starts minifed
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/ubuntu/deploy
Type=forking
ExecStart=/home/ubuntu/deploy/run.sh
